<!doctype html>
<html>

<head>

<title>{{ page.title }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/atom.xml" rel="alternate" title="Braincrafted" type="application/atom+xml" />
<link rel="stylesheet" href="/css/braincrafted.min.css">

</head>

<body>

<header class="page-header">
    <h1><a href="/">Braincrafted</a></h2>
</header>

<section class="content">
    {{ content }}
</section>

<footer class="page-footer">
    <p>Handcrafted by <a href="http://florianeckerstorfer.com">Florian Eckerstorfer</a> in Vienna. The development of this website and all projects listed here was powered by Italian coffee, Austrian beer and Scotish whiskey. &#x25b3;

    <div class="lion" data-picture data-alt="Lion">
        <div data-src="/img/lion-small.png"></div>
        <div data-src="/img/lion-small@2x.jpg" data-media="(min-device-pixel-ratio: 2.0) and (-webkit-min-device-pixel-ratio: 2.0)"></div>
        <div data-src="/img/lion.png" data-media="(min-width: 320px)"></div>
        <div data-src="/img/lion@2x.jpg" data-media="(min-width: 320px) and (min-device-pixel-ratio: 2.0) and (-webkit-min-device-pixel-ratio: 2.0)"></div>

         <noscript>
            <img src="/img/lion-small.png" alt="Lion">
        </noscript>
    </div>
</footer>

<script src="/js/braincrafted.min.js"></script>

</body>

</html>
